nav{
    background-color: #00000080;
}
.retour
{
    font-size: 3rem;
    color: #222;
    border: 1px solid transparent;
    border-radius: 50%;
    background: #00000000;
    box-shadow: -3px 0px 5px 2px rgba(0, 0, 0, 0.61);
    position: absolute;
    transition-property: font-size;
    transition-duration: 0.2s;
    transition-delay: 0s; /* Démarre au bout de 0,4s */
}
.retour:hover
{
    font-size: 3.5rem;
}

.mt-1
{
    margin-top: 1rem;
}
.mt-2
{
    margin-top: 2rem;
}